[package]
org = "ballerina"
name = "email"
version = "2.3.0"
authors = ["Ballerina"]
keywords = ["email", "SMTP", "POP", "POP3", "IMAP", "mail"]
repository = "https://github.com/ballerina-platform/module-ballerina-email"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.0.4"

[[platform.java11.dependency]]
path = "./lib/javax.mail-1.6.2.jar"

[[platform.java11.dependency]]
path = "./lib/greenmail-1.5.11.jar"

[[platform.java11.dependency]]
path = "./lib/mimepull-1.9.11.jar"

[[platform.java11.dependency]]
path = "./lib/testng-7.4.0.jar"

[[platform.java11.dependency]]
path = "../native/build/libs/email-native-2.3.0-SNAPSHOT.jar"

[[platform.java11.dependency]]
path = "../test-utils/build/libs/email-test-utils-2.3.0-SNAPSHOT.jar"
scope = "testOnly"
